<a href="https://colab.research.google.com/github/ampacheco/data-science-workout/blob/main/notebooks/01_Data_Frame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting Starting with Colab

In [1]:
import pandas as pd
csv_url="https://docs.google.com/spreadsheets/d/1Dvi1DsXxyv0y7HhCojDNCOHwStbkdt-xqLM2zlTRxKk/export?format=csv"
df = pd.read_csv(csv_url)
df["Date"]
df["Value"]
df.Value
df.describe()

             Value
count   917.000000
mean    769.781908
std      66.757364
min     649.220000
25%     717.120000
50%     772.780000
75%     811.900000
max    1042.970000

## Verificaci√≥n del Dataset

In [ ]:
df.tail()

df.tail(2)

df.head()

df.head(3)

         Date   Value
0  2019-01-02  694.77
1  2019-01-03  697.09
2  2019-01-04  697.64

# Secci√≥n nueva

In [6]:
data_url='https://raw.githubusercontent.com/ampacheco/data-science-workout/main/data/data_2022.csv'
df = pd.read_csv(data_url)

df.head()
df["Date"]=pd.to_datetime(df["Date"])
df.dtypes

Date       datetime64[ns]
Apruebo             int64
Rechazo             int64
NSNR                int64
dtype: object